In [3]:
#imports
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import os
import gc
import sys

In [7]:
base="./"
train=False
if len(os.listdir(base+"data1"))>0:
    train=True
if train:
    df=pd.read_excel(base+"data1/"+os.listdir(base+"data1")[-1])
else:
    df=pd.read_excel(base+"data/"+os.listdir(base+"data")[-1])

In [9]:
df.head()

,Employee Code,Machine,Production,Order Operation No,Date,Time,Current,Humidity,Temperature,Flow,...,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87
0,(Office id of employee),(Welding machine name),(Project order number),(This captures the activity to be performed by...,(date of activity),(Timestamp for the activity),(In Ampere),(Relative humidity in %),(in degree celsius),(in liters per min (LPM)),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:28:527,1.13,74,23,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:29:40,1.82,74,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:29:677,2.91,74,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:30:166,0.04,74,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cols=df.columns[:13]

In [42]:
df=df[cols]
df=df.iloc[1:]

In [43]:
df.head()

,Employee Code,Machine,Production,Order Operation No,Date,Time,Current,Humidity,Temperature,Flow,Job Temp,Voltage,Defect
1,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:28:527,1.13,74,23,0.01,29.3,15.2,No Defect
2,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:29:40,1.82,74,23,0,29.3,0,Tungsten Inclusion
3,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:29:677,2.91,74,23,0,29.3,0,No Defect
4,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:30:166,0.04,74,23,0,29.3,0,No Defect
5,382617,TWLD23,E15002965,240,2022-09-10 00:00:00,7:32:30:696,2.51,74,23,0,27.8,0,No Defect

In [31]:
len(df[cols[-1]].unique())," unique columns "

(52, ' unique columns ')

In [33]:
defs=df[cols[-1]].unique()[:]
defs

array(['No Defect', 'Tungsten Inclusion', 'No Defect73',
       'Tungsten Inclusion72', 'No Defect72', 'No Defect77',
       'No Defect79', 'No Defect80', 'Porosity', 'No Defect78',
       'No Defect76', 'No Defect0', 'No Defect82', 'No Defect85',
       'No Defect84', 'No Defect83', 'No Defect81', 'No Defect75',
       'No Defect86', 'Porosity86', 'No Defect87', 'Tungsten Inclusion78',
       'No Defect74', 'No Defect99', 'Porosity75', 'Tungsten Inclusion77',
       'No Defect71', 'No Defect40', 'Porosity80', 'No Defect70',
       'No Defect68', 'No Defect90', 'Tungsten Inclusion80',
       'No Defect69', 'No Defect67', 'No Defect63', 'No Defect64',
       'No Defect65', 'No Defect62', 'No Defect61', 'No Defect60',
       'No Defect59', 'Porosity76', 'No Defect66', 'Tungsten Inclusion71',
       'No Defect88', 'Tungsten Inclusion67', 'Tungsten Inclusion75',
       'Tungsten Inclusion76', 'Porosity71', 'No Defect58', 'No Defect57'],
      dtype=object)

In [32]:
str(len(df)/100000)+" lakhs of data"

'8.27535 lakhs of data'

In [1]:
counts=[]
for i in defs:
    counts.append(sum(df[cols[-1]].values==i ))
plt.plot(counts,defs)

NameError: name 'defs' is not defined

In [47]:
plt.hist(df[cols[5]])

(array([83390., 82632., 83162., 83019., 82870., 82775., 82625., 82477.,
        82385., 82199.]),
 array([     0. ,  82155.4, 164310.8, 246466.2, 328621.6, 410777. ,
        492932.4, 575087.8, 657243.2, 739398.6, 821554. ]),
 <BarContainer object of 10 artists>)

Error in callback <function flush_figures at 0x00000213ED5E3040> (for post_execute):

KeyboardInterrupt: